/* body */
body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
/* header */
.header {
  height: 64px;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  color: var(--main-color);
}
.header .header__nav {
  height: 40px;  
  display: flex;
  align-items: center;
}
.header .header__search {
  display: flex;
  vertical-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}
.header .header__search:hover {
  background-color: white;
}
.header .header__search .material-icons {
  margin-top: 8px;
}
.header .header__label-dark {
  /* 테두리 */
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 0 16px 0 3px;
  width: 2.375em;
  height: 1.25em;
  border-radius: calc(1.25em / 2);
  background: var(--main-gray-color);
  color: transparent;
  transition: all 0.3 ease-in-out;
}
.header .header__label-dark:after {
  /* 동글뱅이 */
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(1.25em - 2px);
  height: calc(1.25em - 2px);
  background: white;
  border-radius: 50%;
}
.header .header__input-dark:checked
+ .header__label-dark {
  background: var(--main-white-color);
}
.header .header__input-dark:checked
+ .header__label-dark:after {
  left:auto;
  right: 1px;
  background: var(--main-gray-color);
}
.header .header__label-dark:hover {
  cursor: pointer;
}
.header .header__login {
  width: 6em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50px;
  background-color: var(--second-bg-color);
  color: var(--forth-color);
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}
.header .header__login:hover {
  background-color: var(--third-bg-color);
  color: var(--fifth-color);
}
.header .header__user {
  margin-left: 1em;
}
.header .header__user-img {
  border-radius: 50%;
  margin-right: -0.5em;
}

/* nav */
.main {
  margin: 0 16px;
}
.main .nav {
  height: 48px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__links {
  display: flex;
  align-items: center;
}
.nav .nav__link {
  display: flex;
  width: 80px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: var(--second-color);
}
.nav .nav__link.active {
  border-bottom: 2px solid black;
  font-weight: 700;
  color: var(--main-blue-color);
}
.nav .nav__link-text {
  margin-left: 6px;
}
.nav .nav__icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.nav .nav__sorting {
  width: 84px;
  height: 32px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white-color);
  color: var(--main-gray-color);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  /* for dropdown */
  position: relative;
}
.nav .nav__dropdown-list:hover {
  color: var(--main-blue-color);
}
.nav .nav__show-more {
  cursor: pointer;
}

/* nav - dropdown */
.nav .nav__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  background-color: white;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 5px;
  /* for animation */
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
.nav .nav__dropdown.visible {
  width: 160px;
  height: 168px;
  visibility: visible;
}
.nav .nav__dropdown-list {
  width: 100%;
  height: 42px;
  padding: 12px 16px;
  border-top: 1px solid black;
}
.nav .nav__dropdown-list:nth-child(1) {
  border-top: none;
}
.nav .nav__dropdown-list.active {
  color: rgb(18, 184, 134);
}

/* main */
.main__section-wrap {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 100%;
}
.section .section__box {
  margin: 10px;
  background-color: var(--forth-bg-color);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.section .section__img {
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
.section__close-btn {
  display: none;
}

/* main - slider */
.main .main__slide-wrap {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.main .main__slide-list {
  width: calc(100% * var(--slide-contents));
  transition: all 0.5s ease-in-out;
}
.main .main__slide-list:after {
  /* float 해제 */
  content: "";
  display: block;
  clear: both;
}
.main .main__slide-content {
  width: calc(100% / var(--slide-contents));
  float: left;
}
.main .main__slide-btns {
  position: absolute;
  top: 0;
  bottom: 0;  
  z-index: 5; 
  border: none;
  background: rgba(0, 0, 0, 0.23);
  color: var(--main-blue-color);
}
.main .main__slide-btns:hover {
  background: rgba(0, 0, 0, 0.73);
  color: var(--main-white-color);
}
.main .main__slide-btn-prev {
  left: 0;
}
.main .main__slide-btn-next {
  right: 0;
}


/* section content */
.section .section__main-box {
  height: 190px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-white-color);
}
.section .section__title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.section .section__content {
  font-size: 14px;
  line-height: 21px;
  color: rgb(73, 80, 87);
  /* webkit-box 기능 이용 (Flexible Box Model) */
  display: -webkit-box;
  /* 넘어가는 텍스트 숨기기 */
  overflow: hidden;
  /* ... 표스 */
  text-overflow: ellipsis;
  /* 박스의 내용을 세로로 배치함 */
  -webkit-box-orient: vertical;
  /* n줄 말줄임을 설정 */
  -webkit-line-clamp: 3;
  /* 줄 바꿈이 발생할 수 있게 설정 */
  word-break: break-all;
  /* https://snupi.tistory.com/123 */
}
.section .section__info {
  font-size: 12px;
  line-height: 18px;
  color: rgb(134, 142, 150);
}

/* section footer */
.section .section__footer-box {
  height: 40px;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(33, 37, 41);
}
.section .section__user {
  height: 24px;
  display: flex;
  align-content: center;
  cursor: pointer;
}
.section .section__user-img {
  border-radius: 50%;
  margin-right: 6px;
}
.section .section__user-name {
  font-size: 12px;
  line-height: 24px;
}
.section .section__user-name b {
  margin-left: 6px;
  font-weight: 700;
}
.section .section__like {
  height: 24px;
  display: flex;
  align-content: center;
}
.section .section__like .material-icons.md-18 {
  font-size: 18px;
}
.section .section__like-img {
  display: block;
  width: 12px;
  height: 24px;
  background-image: url(./assets/icons/heartIC.svg);
  background-size: contain;
  background-position: center;
  margin-right: 6px;
}
.section .section__like-cnt {
  display: block;
  font-size: 12px;
  line-height: 24px;
}

/* section modal */
.section.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.section .section__box.active {
  width: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.section .section__close-btn.active {
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
body.no-scroll {
  overflow: hidden;
}
/* 이벤트 위임 방지 */
/* .section__img, 
.section__main-box,
.section__text-link, 
.section__title, .section__content, .section__info,
.section__footer-box,
.section__user, .section__user-img, .section__user-name,
.section__like, .section__like-img, .section__like-cnt {
  pointer-events: none;
} */

/* tablet */
@media screen and (min-width: 768px),
 screen and (min-height: 768px) and (orientation: landscape) {
  .section {
    width: 50%;
  }
  .section .section__box {
    margin: 16px;
  }
}

/* pc-3 */
@media screen and (min-width: 1024px),
 screen and (min-height: 1024px) and (orientation: landscape) {
  .header {
    width: 1024px;
    margin: 0 auto;
  }
  .main {
    width: 1024px;
    margin: 0 auto;
  }
  .section {
    width: 33.3%;
  }
  .section .section__box {
    transition: 0.3s margin ease-in-out;
  }
  .section .section__box:hover {
    margin-top: 2px;
  }
}

/* pc-4 */
@media screen and (min-width: 1418px),
 screen and (min-height: 1418px) and (orientation: landscape) {
  .header {
    width: 1418px;
  }
  .main {
    width: 1418px;
  }
  .section {
    width: 25%;
  }
}

/* pc-5 */
@media screen and (min-width: 1886px),
 screen and (min-height: 1886px) and (orientation: landscape) {
  .header {
    width: 1886px;
  }
  .main {
    width: 1886px;
  }
  .section {
    width: 20%;
  }
}

/* prefers-color-scheme */
/* dark mode */
/* @media (prefers-color-scheme: dark) {
  body {
    background: var(--main-gray-color);
    color: var(--main-white-color);
  }
  .header__logo {
    color: var(--main-white-color);
  }
  .header .header__login:hover {
    background-color: var(--main-white-color);
    color: var(--main-blue-color);
  }
  .header .header__input-dark
  + .header__label-dark {
    background: var(--main-white-color);
  }
  .header .header__input-dark
  + .header__label-dark:after {
    left:auto;
    right: 1px;
    background: var(--main-gray-color);
  }
  .nav .nav__link {
    color: var(--main-white-color);
  }
  .nav .nav__sorting {
    color: var(--main-gray-color);
  }
  .nav .material-icons {
    background: #F8F9FA;
    border-radius: 50%;
    color: var(--main-blue-color) !important;
  }
  .section .section__box {
    background: var(--main-white-color);
  }
} */